<ion-header>
    <ion-toolbar>
      <ion-title>
        Mes pizzas
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-list>
    <ion-item-sliding *ngFor="let pizza of pizzas">
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
          <ion-label><h2>{{pizza.name}}</h2>
              <span>{{pizza.price}}€</span>
              <span *ngFor="let c of pizza.comp">
                    {{c}}
              </span>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">

              <ion-item-option color="success"  *ngIf="!isPizzaLikedByUser(pizza.id)" (click)="like(pizza.id)">
                  <ion-icon slot="icon-only" name="heart"></ion-icon>
              </ion-item-option>

            <ion-item-option color="warning" *ngIf="isPizzaLikedByUser(pizza.id)" (click)="unlike(pizza.id)">
                <ion-icon slot="icon-only" name="heart-dislike"></ion-icon>
            </ion-item-option>

        </ion-item-options>
        <!--<ion-item-options side="start">-->
            <!--<ion-item-option color="danger">-->
              <!--<ion-icon slot="icon-only" name="trash"></ion-icon>-->
            <!--</ion-item-option>-->
        <!--</ion-item-options>-->
      </ion-item-sliding>
      </ion-list>

</ion-content>