<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Pizza</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
        <ion-icon name="star"></ion-icon>
        <ion-label>Favorie</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
