#bg-pizza {
    --background: #fff url('../assets/img/recette-pizza-sauce.jpg') no-repeat center center / cover;
    height: 65%;
}

ion-button {
    padding: 0 15px;
    --border-color: #10dc60;
    --color: #10dc60;
}

ion-input {
    text-align: center;
}

.test {
    color: #fff;
}

ion-item {
    --background: #fff url('../assets/img/fish-section-bg-80.png') no-repeat center center / cover;
}