<ion-header>
  <ion-toolbar>
    <ion-title>
      Choisi tes ingrédients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ios fab-vertical-bottom hydrated fab-horizontal-end">
    <ion-fab-button color="success" class="ion-color ion-color-success ios ion-activatable ion-focusable hydrated">
      <ion-icon name="arrow-dropup" role="img" class="ios hydrated" aria-label="arrow dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" class="ios fab-list-side-top hydrated">

      <ion-fab-button color="light" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated" *ngFor ="let ingredient of ingredients">
        <img src="https://apipizza.herokuapp.com/static/img/ingrds/{{ingredient.name}}.png"/>
        <!--<ion-text>{{ingredient.name}}</ion-text>-->
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>
