 ion-slides.slide-page{
  height: 30vh;
}

ion-slides #slide1 {
  background-image: url('../assets/img/pizza1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ion-slides #slide2 {
  background-image: url('../assets/img/pizza2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ion-slides #slide3 {
  background-image: url('../assets/img/pizza3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-img #logo-pizza {
  background-image: url('../assets/img/logo.png');
}

ion-card {
  --background: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 40px;
  width: 80%;
  margin: 30px auto;
  border-radius: 35px;
}

#logo-home {
  display: block;
  margin: auto;
}

ion-toolbar {
  --background :#4BB748;
}

#bg-home {
  --background: #fff url('../assets/img/fish-section-bg-80.png') no-repeat center center / cover;
}