<ion-header>
  <ion-toolbar>
      <img src="logo.png" id="logo-home" height='60' width='60'>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="slide-page">

    <ion-slide class="bg-slide" id="slide1">
    </ion-slide>

    <ion-slide class="bg-slide" id="slide2">
    </ion-slide>

    <ion-slide class="bg-slide" id="slide3" >
    </ion-slide>
  </ion-slides>
<ion-content id="bg-home">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Salut !</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Envie de créer t'a propre pizza, pas de problème viens la confectionner à t'a sauce
    </ion-card-content>
    <ion-button color="danger" shape="round">C'est par ici</ion-button>
  </ion-card>
  <ion-card>  
    <ion-card-content>
      Un peu faim ? Trouve un restaurant pas loin !
    </ion-card-content>
    <ion-button color="danger" shape="round">Restaurant</ion-button>
  </ion-card>
</ion-content>
</ion-content>
