<ion-header>
  <ion-toolbar>
      <img src="logo.png" id="logo-home" height='60' width='60'>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="slide-page">

    <ion-slide class="bg-slide" id="slide1">
    </ion-slide>

    <ion-slide class="bg-slide" id="slide2">
    </ion-slide>

    <ion-slide class="bg-slide" id="slide3" >
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      Hello
      </ion-col>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          Hello2
          </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
