<ion-header>
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
      <ion-col align-self-center>
  <!-- Input with placeholder -->
    <ion-input placeholder="Insérer votre adresse mail"></ion-input>
    <ion-input placeholder="Insérer votre mot de passe"></ion-input>
    <ion-button shape="round" fill="outline">Connexion</ion-button>
    <ion-content>
      <a href="">Mot de passe oublié</a>
    </ion-content>
  </ion-col>
  </ion-row>

</ion-content>
