<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="signin()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item *ngIf="errMdp">
              <ion-text>
                    Les deux mot de passse ne sont pas identiques
              </ion-text>
            </ion-item>
            <ion-item *ngIf="done">
              <ion-text>
                Compte créer avec succeès
              </ion-text>
            </ion-item>
            <ion-item *ngIf="errCreate">
              <ion-text>
                {{errCreate}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-input name="text" type="text" placeholder="Nom" formControlName="last_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="text" type="text" placeholder="Prénom" formControlName="first_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="tel" type="tel" placeholder="Téléphone" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email" formControlName="mail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Mot de Passe" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Confirmation Mot de Passe" formControlName="passwordC"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size= "large" shape="round" type="submit" [disabled]="form.invalid" expand="block">S'inscrire</ion-button>
          </div>
          <div id="link-forgot-mdp">
            <a (click)="toLogin()" >Se connecter</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

